<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>     
      <% include nav %>
    <% console.log("前端 cookies是："+locals.islogin) %>
      <% if(locals.islogin){ %>
        cookies:
         用户已登录
    <% } else { %>
         <form method="post">          
              <input type="submit" value="登录">
          </form>
    <% } %>
  </body>
</html>